{% load static %}

<div class="container-fluid"> 
    <div class="row">
      <div class="sidebar border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-lg offcanvas-end d-flex flex-column flex-shrink-0 bg-light justify-content-center rounded-2" id="sidebarMenu" aria-labelledby="sidebarMenuLabel"
         style="width: 3rem; height: 200px; position: fixed; right: 4px; margin-top: 75px; ">
    
            <ul class="nav nav-pills nav-flush flex-column text-center">
              <li>
                  <a {% if user.is_authenticated %} href="{% url 'authentication:profile' %}" {% endif %} class="nav-link py-3" aria-current="page" title="Profile" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-person-circle pe-none" width="24" height="24" role="img" aria-label="Products" style="color: #000157;"></i>
                  </a>
              </li>
    
              <li>
                <a class="nav-link py-3" title="Quotes" {% if user.is_authenticated %} data-bs-toggle="modal" {% endif %} data-bs-target="#exampleModal" data-bs-placement="right">
                  <i class="bi bi-vector-pen pe-none" width="24" height="24" role="img" aria-label="Products" style="color: #000157;"></i>
                </a>
              </li> 

              <li>
                <a href="{% url 'authentication:aboutme' %}" class="nav-link py-3 " title="About us" data-bs-toggle="tooltip" data-bs-placement="right">
                  <i class="bi bi-info-circle pe-none" width="24" height="24" role="img" aria-label="Products" style="color: #000157;"></i>
                </a>
              </li>
    
            </ul>
    
        </div>
      </div>
    
    </div>
    </div>
    
    <header>

